@{
    ViewBag.Title = "Home Page";
}

@{
    string imageSource = "../illustrations_gl/b1.jpg";
    string thema = "Leren toepassen van kennis";
    string question = "Iets nieuws leren zoals omgaan met gsm, vaatwas of afstandbediening";
    int progress = 20;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="@imageSource" />
        </div>
        <div class="col-md-8">
            <h2>Thema: @thema</h2>
            <p>@question</p>
        </div>
    </div>
</div>
<div class="row">
    <p>Hoe ervaar ik dit onderdeel?</p>
        <div class="form-group">
            <div class="btn-group btn-group-lg btn-group-justified col-lg-12" data-toggle="buttons">
                <label class="btn btn-default">
                    @Html.RadioButton("experience", "Verloopt naar wens", new { id = "1" }) Verloopt <br />naar wens
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("experience", "Probleem - Niet hinderlijk", new { id = "2" }) Probleem -<br /> Niet hinderlijk
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("experience", "Probleem - Hinderlijk voor mij", new { id = "3" }) Probleem -<br /> Hinderlijk voor mij
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("experience", "Probleem - Hinderlijk voor mantelzorger", new { id = "4" }) Probleem - Hinderlijk<br /> voor mantelzorger
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("experience", "Probleem - Hinderlijk voor beide", new { id = "5" }) Probleem -<br /> Hinderlijk voor beide
                </label>
            </div>
        </div>
</div>
<div class="row">
    <p>Wilt u hieraan verder werken?</p>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="btn-group btn-group-lg" data-toggle="buttons">
                <label class="btn btn-default">
                    @Html.RadioButton("continue", "Ja", new { id = "wilContinue" }) Ja
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("continue", "Nee", new { id = "wilNotContinue" }) Nee
                </label>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4 col-sm-push-4 btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Vorige stelling</button>
        <button type="button" class="btn btn-default">Volgende stelling</button>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                <span class="sr-only">70% Complete</span>
            </div>
        </div>
    </div>
</div>